In [1]:
import pandas as pd

Obtenção

Nesta fase do estudo, empenhamo-nos em buscar fontes confiáveis e bases de dados disponíveis que possam enriquecer nossa análise de forma concreta e intuitiva. Com o intuito de embasar nossa pesquisa, direcionamos nossos esforços para explorar o sistema da SIDRA (sidra.ibge.gov.br) em busca de informações relevantes.

Foram pegos dados de classificação Agricultura, pecuária e serviços relacionados.

In [13]:
nome_planilhas = ['Tabela 1', 'Tabela 2','Tabela 3','Tabela 4']
dados_planilhas = []

for i in nome_planilhas:  # type: ignore
    tabela = pd.read_excel('tabela.xlsx',header = 1, sheet_name = i)

    valor = tabela.iloc[0].keys()[0]

    tabela.columns = tabela.iloc[0]
    
    tabela = tabela.iloc[1:-1]
    tabela = tabela.rename(columns={tabela.columns[5]: str(valor)})
    
    dados_planilhas.append(tabela)  # type: ignore

Checagem

Nesta seção abordaremos as respectivas colunas do conjunto de dados obtidos, buscando explicar o que cada coluna aborda e sua tradução de cada tabela.

In [14]:
for tabela in dados_planilhas: # type: ignore
    tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 1 to 27
Data columns (total 6 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Unidade da Federação                                            27 non-null     object
 1   Natureza jurídica                                               27 non-null     object
 2   Faixas de pessoal ocupado                                       27 non-null     object
 3   Classificação Nacional de Atividades Econômicas (CNAE 2.0)      27 non-null     object
 4   Ano                                                             27 non-null     object
 5   Variável - Número de empresas e outras organizações (Unidades)  27 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 1 to 27
Data columns (total 6 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Unidade da Federação                                                             27 non-null     object
 1   Natureza jurídica                                                                27 non-null     object
 2   Faixas de pessoal ocupado                                                        27 non-null     object
 3   Classificação Nacional de Atividades Econômicas (CNAE 2.0)                       27 non-null     object
 4   Ano                                                                              27 non-null     object
 5   Variável - Número de empresas e outras organizações - percentual do total geral  27 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 1 to 27
Data columns (total 6 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Unidade da Federação                                        27 non-null     object
 1   Natureza jurídica                                           27 non-null     object
 2   Faixas de pessoal ocupado                                   27 non-null     object
 3   Classificação Nacional de Atividades Econômicas (CNAE 2.0)  27 non-null     object
 4   Ano                                                         27 non-null     object
 5   Variável - Pessoal ocupado total (Pessoas)                  27 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 1 to 27
Data columns (total 6 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Unidade da Federação                                          27 non-null     object
 1   Natureza jurídica                                             27 non-null     object
 2   Faixas de pessoal ocupado                                     27 non-null     object
 3   Classificação Nacional de Atividades Econômicas (CNAE 2.0)    27 non-null     object
 4   Ano                                                           27 non-null     object
 5   Variável - Pessoal ocupado total - percentual do total geral  27 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.4+ KB

Limpeza

Neste trecho de código, é realizado um processo de leitura e manipulação de dados de várias planilhas de um arquivo Excel (tabela.xlsx), seguido pela coleta desses dados em uma lista (dados_planilhas). Aqui está uma descrição detalhada das etapas:


- Extração do Valor: O valor da primeira célula da primeira linha (tabela.iloc[0].keys()[0]) é armazenado na variável valor. Este 
valor parece ser usado posteriormente para renomear uma coluna.

- Definição dos Nomes das Colunas: Os nomes das colunas do DataFrame tabela são definidos para serem os valores da primeira linha de dados (tabela.iloc[0]), efetivamente transformando essa linha em cabeçalho.

- Remoção da Primeira e Última Linha: O DataFrame é então ajustado para excluir a primeira linha (que agora é redundante, pois foi usada como cabeçalho) e a última linha, usando tabela.iloc[1:-1].

- Renomeação de Coluna: Uma das colunas (especificamente a coluna no índice 5) é renomeada para o valor armazenado anteriormente em valor. Isso é feito através do método rename(columns={}).

- Adição ao Resultado: O DataFrame modificado é adicionado à lista dados_planilhas, que coleta os dados de todas as planilhas processadas.

- Este processo é repetido para cada planilha listada em nome_planilhas, resultando em uma coleção de DataFrames modificados na lista dados_planilhas.

Analises/Narrativas

- Pessoal Ocupado Assalariado - Pessoal Ocupado Total (Por estado)
- Pessoal Ocupado Assalriado Sexo Feminino - Pessoal Ocupado Assalriado Sexo Feminino (Por 5 maiores estados do Pais)
- Salário médio mensal dos empregados com nível superior - Salário médio mensal dos empregados sem nível superior (Por estado)