In [5]:
import pandas as pd

In [20]:
nome_planilhas = ['Tabela 1', 'Tabela 2','Tabela 3','Tabela 4']
dados_planilhas = []

for i in nome_planilhas:
    tabela = pd.read_excel('tabela1.xlsx',header = 1, sheet_name = i)
    dados_planilhas.append(tabela)

dados_planilhas[0]

,Variável - Número de empresas e outras organizações (Unidades),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Unidade da Federação,Natureza jurídica,Faixas de pessoal ocupado,Classificação Nacional de Atividades Econômica...,Ano,NaN
1,Rondônia,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,461.0
2,Acre,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,142.0
3,Amazonas,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,289.0
4,Roraima,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,147.0
5,Pará,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1534.0
6,Amapá,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,105.0
7,Tocantins,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1227.0
8,Maranhão,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1285.0
9,Piauí,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,716.0
10,Ceará,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1277.0
11,Rio Grande do Norte,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,792.0
12,Paraíba,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,468.0
13,Pernambuco,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1464.0
14,Alagoas,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,789.0
15,Sergipe,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,307.0
16,Bahia,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,3840.0
17,Minas Gerais,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,6516.0
18,Espírito Santo,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,738.0
19,Rio de Janeiro,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1007.0
20,São Paulo,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,470340.0
21,Paraná,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,5770.0
22,Santa Catarina,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,1788.0
23,Rio Grande do Sul,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,4226.0
24,Mato Grosso do Sul,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,3187.0
25,Mato Grosso,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,5434.0
26,Goiás,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,5111.0
27,Distrito Federal,Total,Total,"01 Agricultura, pecuária e serviços relacionados",2022,448.0
28,Fonte: IBGE - Cadastro Central de Empresas,NaN,NaN,NaN,NaN,NaN